@import url(./effects/null.css);
@import url(./effects/burger-animation.css);
@import url(./font.css);
@import url(./effects/Paralax-hover-card-effect.css);
.contacts .title, .form .title, .portfolio .title, .skills .container .title, .about .title {
  font-weight: 200;
  font-size: 2rem;
  line-height: 1.2;
}
.contacts .title::before, .form .title::before, .portfolio .title::before, .skills .container .title::before, .about .title::before {
  content: "";
  width: 50px;
  height: 2px;
  background-color: #8d4b55;
  display: block;
  margin: 0 0 10px 0;
}
.contacts .title span, .form .title span, .portfolio .title span, .skills .container .title span, .about .title span {
  font-weight: 800;
}

.slide__description, .slide__image_description, .skill__name, .about__text p {
  color: #808080;
  line-height: 1.7;
  font-size: 1rem;
  font-weight: 300;
}
@media (max-width: 767px) {
  .slide__description, .slide__image_description, .skill__name, .about__text p {
    font-size: 0.9rem;
  }
}

.form__button, .about__button, .home__text button {
  padding: 0.75rem 1rem;
  font-size: 1.2rem;
  font-weight: 200;
  background-color: #8d4b55;
  border: 1px solid #8d4b55;
  color: #ffffff;
  letter-spacing: 0.2rem;
  border-radius: 1.6rem;
  transition: 0.5s;
}
@media (max-width: 991px) {
  .form__button, .about__button, .home__text button {
    padding: 0.5rem 0.75rem;
  }
}
@media (max-width: 424px) {
  .form__button, .about__button, .home__text button {
    font-size: 1rem;
  }
}
.form__button:hover, .about__button:hover, .home__text button:hover {
  transition: 0.5s;
  background-color: #902c3b;
}

.contacts, .form, .portfolio, .skills .container, .about {
  padding: 3rem 0;
  display: grid;
  gap: 1rem;
}
@media (max-width: 767px) {
  .contacts, .form, .portfolio, .skills .container, .about {
    padding: 1.5rem 0;
  }
}

html,
body {
  font-family: "Segoe UI";
  font-size: 16px;
  font-weight: 300;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}
@media (max-width: 1170px) {
  .container {
    max-width: 100%;
    padding: 0 15px;
  }
}

.home {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/background-main.png) left/cover no-repeat, linear-gradient(#222222, #222222);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.home__header {
  position: fixed;
  width: 100%;
}
@media (max-width: 991px) {
  .home__header {
    padding: 0;
    height: 50px;
    width: 100%;
  }
}
.home__header > .container {
  height: 100%;
  background-color: #ffffff;
  z-index: 5;
  position: relative;
}
.home__header.white {
  background-color: #ffffff;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  z-index: 5;
}
.home__header.white ul li a {
  color: rgba(0, 0, 0, 0.7);
}
.home__header.white ul li a:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
.home__burger {
  display: none;
}
@media (max-width: 991px) {
  .home__burger {
    display: block;
    width: 50px;
    height: 36px;
    border-radius: 5px;
    padding: 6px 10px;
    border: 1px solid #808080;
    cursor: pointer;
    position: relative;
    top: 7px;
  }
}
@media (max-width: 991px) {
  .home__nav {
    position: absolute;
    left: 0;
    width: 100%;
    background-color: #ffffff;
    transition: 0.5s all ease-in-out;
    top: -180px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  }
  .home__nav.open {
    top: 100% !important;
    transition: 0.5s all ease-in-out;
  }
}
.home__nav ul {
  display: flex;
  justify-content: center;
}
@media (max-width: 991px) {
  .home__nav ul {
    flex-direction: column;
  }
}
.home__nav ul li {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.2em;
}
.home__nav ul li a {
  color: #fff;
  padding: 25px 20px;
  display: block;
  transition: 0.3s;
}
.home__nav ul li a:hover {
  color: #8d4b55;
  transition: 0.3s;
}
@media (max-width: 991px) {
  .home__nav ul li a {
    display: block;
    padding: 15px 10px;
    color: #808080;
    width: 100%;
  }
}
.home > .container {
  height: 100%;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home__text {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  align-items: center;
  justify-content: center;
  flex: 1 1 auto;
}
.home__text h1 {
  color: #fff;
  text-align: center;
  font-size: 4.3rem;
  font-weight: 200;
  line-height: 1.2;
}
@media (max-width: 780px) {
  .home__text h1 {
    font-size: 2.8rem;
  }
}
@media (max-width: 500px) {
  .home__text h1 {
    font-size: 1.8rem;
  }
}
.home__text span:nth-of-type(1) {
  display: block;
  font-weight: 800;
  width: 18ch;
  animation: typing 3s steps(18), blink 0.5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
}
@media (max-width: 500px) {
  .home__text span:nth-of-type(1) {
    border-right: 1px solid;
  }
}
.home__text p {
  font-size: 2.2rem;
  letter-spacing: 0.2rem;
  line-height: 1.2;
  color: rgba(255, 255, 255, 0.4);
  text-align: center;
}
@media (max-width: 780px) {
  .home__text p {
    font-size: 1.5rem;
  }
}
.home__text button {
  font-weight: 200;
}

@keyframes typing {
  from {
    width: 0;
  }
}
@keyframes blink {
  50% {
    border-color: transparent;
  }
}
.about {
  grid-template-columns: 1fr 2fr;
  align-items: center;
}
@media (max-width: 991px) {
  .about {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 767px) {
  .about {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 767px) {
  .about__image img {
    max-width: 350px;
    margin: auto;
  }
}
@media (max-width: 767px) {
  .about__image {
    margin: 0 1.25rem;
  }
}
@media (max-width: 424px) {
  .about__image {
    margin: 0;
  }
}
.about__image img {
  width: 100%;
}
.about__information {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.about__buttons {
  display: flex;
  gap: 0.5rem;
}
@media (max-width: 424px) {
  .about__buttons {
    gap: 0.3rem;
  }
}
.about__button.button-cv {
  background-color: #808080;
  border-color: #808080;
}
.about__button.button-cv:hover {
  background-color: #575757;
}

.skills {
  background-color: #8d4b55;
}
.skills .container {
  grid-template-columns: 3fr 1fr;
}
@media (max-width: 1230px) {
  .skills .container {
    padding: 3rem 15px;
  }
}
@media (max-width: 767px) {
  .skills .container {
    grid-template-columns: 1fr;
    padding: 2rem 15px;
  }
}
.skills .title {
  justify-self: center;
  color: #ffffff;
}
.skills .title::before {
  background-color: #ffffff !important;
}
@media (max-width: 767px) {
  .skills .title {
    grid-row: 1/2;
    justify-self: left;
  }
}
.skills__wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.skill__up {
  display: flex;
  align-items: center;
  gap: 10px;
}
.skill__icon {
  color: #ffffff;
  display: flex;
  gap: 5px;
}
.skill__name {
  color: #ffffff;
}
.skill__down {
  position: relative;
}
.skill__progress-full {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
  border-radius: 1px;
  background-color: #808080;
}
.skill__progress-active {
  position: absolute;
  top: 0;
  left: 0;
  height: 3px;
  border-radius: 1px;
  background-color: #ffffff;
}
.skill__marker {
  position: absolute;
  width: 1.5rem;
  height: 1rem;
  margin: 10px 0 0;
  border-radius: 3px;
  transform: translateX(-50%);
  background-color: #ffffff;
  color: #8d4b55;
  font-size: 0.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.skill__marker::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 1rem;
  border: 5px solid transparent;
  border-bottom: 5px solid #ffffff;
}

.portfolio .container {
  width: 100%;
}
.portfolio__slider {
  min-width: 100%;
  position: relative;
}
.portfolio__slider .slick-list .slick-track {
  display: flex;
}
.portfolio__slider .slick-list .slick-track .slick-slide {
  padding: 0 10px;
  height: auto;
}
.portfolio__slider .slick-arrow {
  width: 50px;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.7);
  transition: 0.5s;
  cursor: pointer;
  z-index: 1;
  position: absolute;
  top: 125px;
}
@media (max-width: 767px) {
  .portfolio__slider .slick-arrow {
    width: 40px;
    height: 40px;
  }
}
@media (max-width: 500px) {
  .portfolio__slider .slick-arrow {
    top: 100px;
  }
}
.portfolio__slider .slick-arrow ._icon-arrow {
  height: 100%;
  font-size: 30px;
  color: #ffffff;
  position: relative;
}
.portfolio__slider .slick-arrow ._icon-arrow::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.portfolio__slider .slick-arrow:hover {
  background-color: rgba(90, 90, 90, 0.8);
  transition: 0.5s;
}
.portfolio__slider .slick-arrow.prev {
  left: 10px;
}
.portfolio__slider .slick-arrow.next {
  right: 10px;
}
.portfolio__slider .slick-arrow.next ._icon-arrow {
  transform: rotate(180deg);
}

.slide__image {
  position: relative;
  margin-bottom: 10px;
}
@media (max-width: 1230px) {
  .slide__image .slide__image_description {
    visibility: visible;
  }
  .slide__image .slide__image_github {
    transform: rotate(720deg) scale(1);
    transition: 1s ease;
  }
}
.slide__image:hover .slide__image_description {
  visibility: visible;
}
.slide__image:hover .slide__image_github {
  transform: rotate(720deg) scale(1);
  transition: 1s ease;
}
.slide__image img {
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
}
@media (max-width: 500px) {
  .slide__image img {
    height: 250px;
  }
}
.slide__image_description {
  position: absolute;
  visibility: hidden;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
@media (max-width: 1230px) {
  .slide__image_description {
    height: 70px;
    bottom: 0;
    top: auto;
    border-radius: 0 0 5px 5px;
  }
}
.slide__image_description ._icon-show {
  font-size: 30px;
  color: #ffffff;
  padding: 5px 15px;
  border-radius: 5px;
  background-color: #8d4b55;
  gap: 10px;
  font-size: 40px;
  line-height: 1.2;
}
.slide__image_description ._icon-show:hover {
  background-color: #902c3b;
  transition: 0.5s;
}
@media (max-width: 1230px) {
  .slide__image_description ._icon-show {
    font-size: 30px;
  }
}
.slide__image_github {
  display: inline-flex;
  align-items: center;
  color: #ffffff;
  padding: 5px 15px;
  border-radius: 5px;
  background-color: #8d4b55;
  gap: 10px;
  font-size: 40px;
  line-height: 1.2;
  transform: rotate(0deg) scale(0.1);
}
.slide__image_github:hover {
  background-color: #902c3b;
  transition: 0.5s;
}
@media (max-width: 1230px) {
  .slide__image_github {
    font-size: 30px;
  }
}
.slide__text {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.slide__title {
  font-size: 24px;
  color: #808080;
}
.slide__description {
  line-height: 1.2;
}
.slide__stack {
  margin-bottom: 5px;
}
.slide__stack span {
  font-weight: 700;
}
.slide__about span {
  font-weight: 700;
}

.form {
  background-color: #8d4b55;
}
.form .container {
  width: 100%;
}
.form .title {
  color: #ffffff;
  margin-bottom: 20px;
}
.form .title::before {
  background-color: #ffffff !important;
}
.form form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
@media (max-width: 500px) {
  .form form {
    grid-template-columns: 1fr;
  }
}
.form input,
.form textarea {
  background-color: #8d4b55;
  border-bottom: 2px solid rgba(255, 255, 255, 0.5);
  color: rgb(255, 255, 255);
  caret-color: rgba(255, 255, 255, 0.5);
  transition: 0.3s;
  padding: 6px 12px;
}
.form input::-moz-placeholder, .form textarea::-moz-placeholder {
  color: rgba(255, 255, 255, 0.5);
}
.form input::placeholder,
.form textarea::placeholder {
  color: rgba(255, 255, 255, 0.5);
}
.form input:focus,
.form textarea:focus {
  border-bottom: 2px solid rgb(255, 255, 255);
}
.form__input-topic {
  grid-column: 1/3;
}
@media (max-width: 500px) {
  .form__input-topic {
    grid-column: 1/2;
  }
}
.form__message {
  grid-column: 1/3;
  resize: vertical;
  max-height: 300px;
}
@media (max-width: 500px) {
  .form__message {
    grid-column: 1/2;
  }
}
.form__button {
  justify-self: left;
  background-color: #808080;
}
.form__button:hover {
  background-color: #575757;
}

.contacts__socials ul {
  display: flex;
  justify-content: center;
  gap: 20px;
}
@media (max-width: 500px) {
  .contacts__socials ul {
    display: grid;
    grid-template-columns: repeat(3, auto);
  }
}
.contacts__socials ul li a {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  transition: 0.5s;
}
@media (min-width: 991px) {
  .contacts__socials ul li a.active {
    border: 3px solid #8d4b55 !important;
    color: #8d4b55 !important;
  }
}