@import url(./null.css);
@import url(./burger-animation.css);
@import url(../fonts/font.css);
.about__title {
  font-weight: 200;
  font-size: 2rem;
  line-height: 1.2;
}
.about__title span {
  font-weight: 800;
}

.about__text p {
  color: #808080;
  line-height: 1.7;
  font-size: 1rem;
  font-weight: 300;
}

.about__button, .home__text button {
  padding: 1rem 1.5rem;
  font-size: 1.2rem;
  background-color: #57d131;
  color: #ffffff;
  letter-spacing: 0.2rem;
  border-radius: 1.6rem;
  transition: 0.3s;
}
.about__button:hover, .home__text button:hover {
  color: #808080;
  transition: 0.3s;
}

html,
body {
  font-size: 16px;
  font-weight: 300;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}
@media (max-width: 1170px) {
  .container {
    max-width: 100%;
    padding: 0 15px;
  }
}

.home {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/background-main.png) left/cover no-repeat, linear-gradient(#222222, #222222);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.home__header {
  position: fixed;
  width: 100%;
}
@media (max-width: 991px) {
  .home__header {
    padding: 0;
    height: 50px;
    width: 100%;
  }
}
.home__header > .container {
  height: 100%;
  background-color: #ffffff;
  z-index: 2;
  position: relative;
}
.home__header.white {
  background-color: #ffffff;
}
.home__header.white ul li a {
  color: rgba(0, 0, 0, 0.7);
}
.home__header.white ul li a:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
.home__burger {
  display: none;
}
@media (max-width: 991px) {
  .home__burger {
    display: block;
    width: 50px;
    height: 36px;
    border-radius: 5px;
    padding: 6px 10px;
    border: 1px solid #808080;
    cursor: pointer;
    position: relative;
    top: 7px;
  }
}
@media (max-width: 991px) {
  .home__nav {
    position: absolute;
    left: 0;
    width: 100%;
    background-color: #ffffff;
    transition: 0.5s all ease-in-out;
    top: -136px;
  }
  .home__nav.open {
    top: 100% !important;
    transition: 0.5s all ease-in-out;
  }
}
.home__nav ul {
  display: flex;
  justify-content: center;
}
@media (max-width: 991px) {
  .home__nav ul {
    flex-direction: column;
  }
}
.home__nav ul li {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.2em;
}
.home__nav ul li a {
  color: #fff;
  padding: 25px 20px;
  display: block;
  transition: 0.3s;
}
.home__nav ul li a:hover {
  color: #57d131;
  transition: 0.3s;
}
@media (max-width: 991px) {
  .home__nav ul li a {
    display: block;
    padding: 15px 10px;
    color: #808080;
    width: 100%;
  }
}
.home > .container {
  height: 100%;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home__text {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  align-items: center;
  justify-content: center;
  flex: 1 1 auto;
}
.home__text h1 {
  color: #fff;
  text-align: center;
  font-size: 4.3rem;
  font-weight: 200;
  line-height: 1.2;
}
@media (max-width: 676px) {
  .home__text h1 {
    font-size: 2.8rem;
  }
}
.home__text span {
  display: block;
  font-weight: 800;
}
.home__text p {
  font-size: 2.2rem;
  letter-spacing: 0.2rem;
  line-height: 1.2;
  color: rgba(255, 255, 255, 0.4);
  text-align: center;
}
@media (max-width: 676px) {
  .home__text p {
    font-size: 1.5rem;
  }
}
.about {
  display: flex;
  gap: 10px;
  align-items: center;
}
.about__image {
  background-color: #222222;
  border-radius: 5px;
}
.about__image img {
  width: 100%;
}
.about__information {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.about__buttons {
  display: flex;
  gap: 15px;
}